<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Product List </title>
        <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="assets/vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="assets/css/general-custom.css" rel="stylesheet">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <link rel="stylesheet" href="assets/css/product-list.css">
        <link rel="stylesheet" href="assets/css/products-custom.css">
        <link rel="stylesheet" href="assets/css/filter-panel-custom.css">

    </head>
    <body ng-controller="mainCtrl">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top navbar-custom" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav logo-link" href="index.html">
                        <img src = "assets/img/gift_in_logo_pink_crop.png" class="logo img-responsive" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="http://jolvanassignment1.s3-website-ap-southeast-1.amazonaws.com/">Team 10</a></li>
                        <li><a href="http://jackjack89.github.io/week5presentation/#/threads">Team 12</a></li>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="products.html">Products</a>
                        </li>
                        <li ng-hide="loggedUserEmail===null || loggedUserEmail === ''">
                            <a href="wishlist.html">Wishlist</a>
                        </li>
                        <!--
<li>
<a href="login.html" class="btn no-border" style="border:2px solid #000;padding:5px;margin: 10px;">Sign In/Login</a>
</li>
-->

                        <li ng-show="loggedUserEmail===null || loggedUserEmail === ''">
                            <a href="login.html" class="btn no-border" style="border:2px solid #000;padding:5px;margin: 10px;">Sign In/Login</a>
                        </li>

                        <li ng-hide="loggedUserEmail===null || loggedUserEmail === ''">
                            <a href="#" ng-click="logout()">Logout as {{ loggedUserEmail }} !</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <h1 class="page-header">All Products</h1>
               </div>
           </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-filter no-border">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                               <form id="filter-form">
                                <div class="col-md-3 divider-right">
                                    <div class="divider-bottom">
                                       <input type="text" class="form-control no-border" id="filter-box" name="filter-box" value="" placeholder="Enter keywords..."/>
                                    </div>
                                    <div>
                                        <span class="filter-section-header">Gender</span>
                                        <div class="radio">
                                            <input type="radio" name="gender" class="styled" id="female" value="female" aria-label="female">
                                            <label for="female"> Just For Her</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="gender" class="styled" id="male" value="male" aria-label="male">
                                            <label for="male"> Just For Him</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="gender" class="styled" id="unisex" value="unisex" aria-label="unisex">
                                            <label for="unisex">Unisex</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 divider-right">
                                    <div>
                                        <span class="filter-section-header">Occasions</span>
                                        <div class="checkbox">
                                            <input type="checkbox" name="occasions[]" class="styled" id="christmas" value="christmas" aria-label="christmas">
                                            <label for="christmas"> Christmas</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox"name="occasions[]" class="styled" id="valentines" value="valentines" aria-label="valentines">
                                            <label for="valentines"> Valentines Day</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox"name="occasions[]" class="styled" id="birthday" value="birthday" aria-label="birthday">
                                            <label for="birthday">Birthday</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 divider-right">
                                    <div>
                                        <span class="filter-section-header">Personality</span>
                                        <div class="checkbox">
                                            <input type="checkbox" name="personality[]" class="styled" id="manly" value="manly" aria-label="manly">
                                            <label for="manly">Manly</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="personality[]" class="styled" id="feminine" value="feminine" aria-label="feminine">
                                            <label for="feminine">Feminine</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="personality[]" class="styled" id="sporty" value="sporty" aria-label="sporty">
                                            <label for="sporty">Sporty</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="personality[]" class="styled" id="classy" value="classy" aria-label="classy">
                                            <label for="classy">Classy</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div>
                                        <span class="filter-section-header">Category</span>
                                        <div class="checkbox">
                                            <input type="checkbox" name="category[]" class="styled" id="music" value="music" aria-label="music">
                                            <label for="music">Music</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="category[]"class="styled" id="crafts" value="crafts" aria-label="crafts">
                                            <label for="crafts">Crafts</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="category[]"class="styled" id="otaku" value="otaku" aria-label="otaku">
                                            <label for="otaku">Otaku</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" name="category[]"class="styled" id="cooking" value="cooking" aria-label="cooking">
                                            <label for="cooking">Cooking/Baking</label>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-12 center-block text-center">
                                    <button type="reset" name="clear-fields" class="btn btn-default"> Reset </button>
                                    <button type="button" id="filter-product-btn" name="filter-product-btn" class="btn btn-primary">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul id="product-data" class="thumbnail-list">
                                                <li>
                            <div class="box">
                                <a href="prod_desc.html" class="">
                                    <img src = "assets/img/featured_3d_pen.png" class="" />
                                </a>
                            </div>
                            <h4 class="">3D Pen</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 99</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,1)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                                <a href="prod_desc.html" class=""><img src="assets/img/featured_bear_bean_bag.jpg" class=""></a>
                            </div>
                            <h4 class="">Bear Bean Bag</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 89</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser, 2)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                            <a href="prod_desc.html" class=""><img src="assets/img/featured_flavour_infused_water_bottle.png" class=""></a>
                            </div>
                            <h4 class="">Flavour Infused Water Bottle</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 35</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,3)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                            <a href="prod_desc.html" class=""><img src="assets/img/featured_polaroid.jpg" class=""></a>
                            </div>
                            <h4 class="">Polaroid Hanger</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 29</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,4)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                                <a href="prod_desc.html" class="">
                                    <img src="assets/img/new_cat_hoodie.jpg" class="">
                                </a>
                            </div>
                            <h4 class="">Cat Hoodie</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 70</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,5)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                                <a href="prod_desc.html" class=""><img src="assets/img/new_key_smart.jpg" class=""></a>
                            </div>
                            <h4 class="">Key Smart</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 25</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,6)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                            <a href="prod_desc.html" class=""><img src="assets/img/new_star_wars_waffle_maker.jpg" class=""></a>
                            </div>
                            <h4 class="">Star Wars Waffle Maker</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 88</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser,7)">Add to Wishlist</button>
                        </li>
                        <li>
                            <div class="box">
                            <a href="prod_desc.html" class=""><img src="assets/img/new_super_hero_bookend.jpg" class=""></a>
                            </div>
                            <h4 class="">Super Hero Bookend</h4>
                            <div class="product-price">
                                <span class="normal-price">SGD 25</span>
                            </div>
                            <button type="button" class="btn btn-default navbar-btn" ng-click="addWishlist(loggedUser, 8)">Add to Wishlist</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="extra-30-bottom-margin"></div>
        <div ng-include="'views/footer.html'"></div>
        <!-- angular fire stuff -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="assets/vendor/filter/jquery.quicksand.js"></script>
        <script type="text/javascript" src="assets/vendor/filter/jquery-animate-css-rotate-scale.js"></script>
        <script type="text/javascript" src="assets/vendor/filter/jquery-css-transform.js"></script>
        <script type="text/javascript" src="assets/vendor/filter/jquery.easing.1.3.js"></script>
        <script src="app.js"></script>
        <script type="text/javascript" src="assets/js/filter-panel.js"></script>
    </body>
</html>
