body{
    background: rgba(19, 35, 47, 0.9);
}
body:before{
    background: rgba(255, 255, 255, 0.1);
}
.container .info {
    margin: 80px auto;
}

.form button{
/*    background: #1ab188;*/
    background-color:#EB5A69;
}
.form .thumbnail{
    background-color:#EB5A69;
    color: #fff;
    width: 150px;
    height: 150px;
    padding: 27px 30px;
    font-size: 1.3em;
}
